__pycache__/
.pytest_cache/
.venv/
support.db
frontend/node_modules/
frontend/dist/
frontend/playwright-report/

.vscode/
tests/

# FAISS
scripts/

#SERVER LOGS
server_err.log
server_out.log
server.log

# ENV
.env.example

# MD FILES
md-files/
data/

# CONTAIN
alembic.ini
docker-compose.yml

# PY FILES
check_db.py 
test_semantic.py

migrations/